{% extends "layout.html" %}

{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

{% block pageTitle %}
  Document details
{% endblock %}

{% block beforeContent %}
  {{
    govukPhaseBanner({
      tag: {
        text: 'Beta'
      },
      html: 'This is a new service – your <a class="govuk-link" href="https://www.research.net/r/alfp-feedback" target="_blank">feedback</a> will help us to improve it.'
    })
  }}

  {{ 
    govukBackLink({
      text: "Back",
      href: previous()
    }) 
  }}
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Document details
        </h1>

        <p>You can find the document title, type and registration date on the Companies House service:
          <a href="">https://beta.companieshouse.gov.uk</a>
        </p>

        {{ 
          govukInsetText({
            text: "It costs £32 to remove your address from each document."
          }) 
        }}

        {{ 
          govukInput({
            label: {
              text: "Company name",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-10",
            id: "company-name",
            name: "companyName",
            value: "companyName",
            errorMessage: validationErrors.companyName if validationErrors
          })
        }}
        {{ 
          govukInput({
            label: {
              text: "Company number",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-10",
            id: "company-number",
            name: "companyNumber",
            value: "companyNumber",
            errorMessage: validationErrors.companyNumber if validationErrors
          }) 
        }}
        {{ 
          govukInput({
            label: {
              text: "Document type",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            hint: {
              text: "Please give the document type or, where that document is a form, the number and title of that form."
            },
            classes: "govuk-input--width-10",
            id: "type",
            name: "type",
            value: "type",
            errorMessage: validationErrors.type if validationErrors
          }) 
        }}

        {{ 
          govukDateInput({
            id: "passport-issued",
            namePrefix: "passport-issued",
            fieldset: {
              legend: {
                text: "Document registration date",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 12 11 2007"
            },
            errorMessage: validationErrors.registrationDate if validationErrors,
            items: [
            {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "day",
            value: "6"
            },
            {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "month",
            value: "3"
            },
            {
            classes: "govuk-input--width-4 govuk-input--error",
            name: "year",
            value: "2076"
            }
            ]
          }) 
        }}

        {{ 
          govukButton({
            text: "Continue"
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}
